.dis{
    width: 100%;
    height: 100vh;
    background-color: rgb(12, 19, 32);
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(38, 54, 56, 0.342);
    color: white;
    backdrop-filter: blur(10px);
    padding: 30px;
    width: 300px;
    height: 100px;
    border-radius: 10px;
    z-index: 1;
    position: relative;
}

.sir_t{
    content: "";
    width: 70px;
    height: 70px;
    background-color: rgb(0, 140, 255);
    position: absolute;
    z-index: 0;
    top: 363px;
    left: 767px;
    border-radius: 50px;
}

.sir_b{
    content: "";
    width: 70px;
    height: 70px;
    background-color: rgb(114, 35, 241);
    position: absolute;
    z-index: 0;
    top: 476px;
    left: 1080px;
    border-radius: 50px;
}

label{
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}

input{
    outline: none;
    border: none;
    font-size: medium;
    padding: 5px;
    border-radius: 5px;
    background-color: #e9e9e9;
}

.btn_send{
    border: none;
    padding: 6px;
    font-size: 20px;
    width: 60px;
    border-radius: 4px;
    background-color: rgb(162, 0, 255);
    color: aliceblue;
    cursor: pointer;
}

.btn_send:hover{
        background-color: rgb(87, 0, 138);
}

#status_server{
    color: rgb(40, 240, 40);
}